{
  "openapi": "3.1.0",
  "info": {
    "title": "RoxyAPI",
    "version": "2.0.0",
    "description": "# RoxyAPI: AI-Native Insight Infrastructure\n\n> **Base URL:** `https://roxyapi.com/api/v2`\n> All endpoint paths below are relative to this base URL.\n\nThe only multi-domain spiritual intelligence API. 12 domains (astrology, Vedic astrology, human design, forecast, biorhythm, tarot, numerology, crystals, dreams, I-Ching, angel numbers, location), 164+ endpoints, one API key, instant activation. Remote MCP server per domain plus AGENTS.md for AI coding agents.\n\n## Who uses RoxyAPI\n\n- **Developers** building astrology apps, tarot platforms, numerology calculators, or dream journals\n- **AI agent builders** connecting Claude, GPT, or Gemini to real calculation engines via MCP\n- **Vibe coders** shipping insight apps with Cursor, Bolt, or Replit using zero domain knowledge\n- **Founders and brands** launching branded spiritual experiences for their audience\n\n## Quick start (60 seconds)\n\n**1. Get your API key** at [roxyapi.com/pricing](https://roxyapi.com/pricing). Instant delivery, no account required.\n\n**2. Make your first call:**\n```bash\ncurl -H \"X-API-Key: YOUR_KEY\" https://roxyapi.com/api/v2/tarot/draw -X POST -H \"Content-Type: application/json\" -d '{\"count\": 3}'\n```\n\n**3. Monitor usage:**\n```bash\ncurl -H \"X-API-Key: YOUR_KEY\" https://roxyapi.com/api/v2/usage\n```\n\n## AI agent integration (Remote MCP)\n\nRoxyAPI ships a Remote MCP server per product over Streamable HTTP, with no local setup and no Docker. Your AI agent auto-discovers all 164+ endpoints as callable tools with zero configuration:\n- **Claude Desktop, Cursor, Windsurf**: Add MCP server URL in settings\n- **OpenAI Agents, Gemini ADK**: Connect via Streamable HTTP transport\n- **Custom agents**: Use the MCP Python/TypeScript SDK\n\nMCP endpoints: `https://roxyapi.com/mcp/{domain}` (e.g., `/mcp/astrology`, `/mcp/tarot`)\n\nSetup guide: [roxyapi.com/docs/mcp](https://roxyapi.com/docs/mcp)\n\n## Authentication\n\nAll endpoints require an API key via header or query param:\n- **Header (recommended):** `X-API-Key: YOUR_KEY`\n- **Query param (testing):** `?api_key=YOUR_KEY`\n\n## Response format\n\nClean JSON, no wrapper objects. Errors return `{ \"error\": \"message\", \"code\": \"error_code\" }`. The `error` field is human-readable (may change wording). The `code` field is machine-readable (stable — safe to switch on programmatically).\n\nRate limit headers on every response: `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Used`\n\n## Errors\n\nAll errors return `{ \"error\": \"message\", \"code\": \"error_code\" }`:\n\n| Status | Code | When |\n|--------|------|------|\n| 400 | `validation_error` | Missing or invalid parameters. Response includes `issues[]` with per-field `path`, `message`, `code`, `expected`, `minimum`, `maximum`, `format`, `pattern`. |\n| 401 | `api_key_required` | No API key provided |\n| 401 | `invalid_api_key` | Key format invalid or tampered |\n| 401 | `subscription_not_found` | Key references non-existent subscription |\n| 401 | `subscription_inactive` | Subscription cancelled, expired, or suspended |\n| 404 | `not_found` | Resource not found. Response may include a ranked `suggestions[]` array (each with `endpoint`, `hint`, and a `docs` deep link) for typo recovery. |\n| 405 | `method_not_allowed` | Path exists for a different HTTP method. Response includes `allow[]` and the `Allow` header lists valid methods. |\n| 429 | `rate_limit_exceeded` | Monthly quota reached |\n| 500 | `internal_error` | Server error |\n\n## Pricing\n\nFlat per-request pricing. Every call counts the same, whether a planet position or a full birth chart with aspects. No credit systems, no variable costs. Plans from $39 to $699/month.\n\nSee [roxyapi.com/pricing](https://roxyapi.com/pricing)\n\n## Resources\n\n- [Quickstart guide](https://roxyapi.com/docs/quickstart) - first API call in 60 seconds\n- [Documentation](https://roxyapi.com/docs) - guides, tutorials, domain reference\n- [MCP setup](https://roxyapi.com/docs/mcp) - connect AI agents\n- [Starter apps](https://roxyapi.com/starters) - clone and deploy in 30 minutes\n- [FAQ](https://roxyapi.com/faq) - common questions\n- [Contact](https://roxyapi.com/contact) - support and API key recovery\n",
    "contact": {
      "name": "RoxyAPI Support",
      "url": "https://roxyapi.com/contact"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://roxyapi.com/policy/terms"
    }
  },
  "externalDocs": {
    "description": "Complete API Documentation with Examples",
    "url": "https://roxyapi.com/docs"
  },
  "servers": [
    {
      "url": "https://roxyapi.com/api/v2",
      "description": "Production API v2"
    }
  ],
  "security": [
    {
      "apiKey": []
    }
  ],
  "tags": [
    {
      "name": "Western Astrology",
      "description": "Western astrology API for natal birth charts, daily, weekly, and monthly horoscopes with unique content per sign, synastry compatibility scores, composite charts, solar and lunar returns, real-time transit aspects, and moon phases. 4 house systems (Placidus, Koch, Whole Sign, Equal) with accurate tropical ephemeris, aspect-pattern detection (Grand Trine, T-Square, Yod), astrocartography planetary lines, relocation charts, and local space maps for location based astrology, plus classical and professional points like fixed star conjunctions, Arabic lots, the asteroid goddesses (Ceres, Pallas, Juno, Vesta), mean and true Black Moon Lilith, and timing techniques like secondary progressions, solar arc directions, and annual profections. Built for horoscope platforms, astrology dating apps, AI chatbots, wellness products, and zodiac content engines. Schedule future horoscopes with a date parameter for editorial workflows, no astronomy expertise needed. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Vedic Astrology",
      "description": "Vedic astrology (Jyotish) and KP API for kundli generation with 15 divisional charts (D1-D60), Ashtakoot Gun Milan kundli matching, Vimshottari Dasha predictions, dosha detection with remedies, 300+ planetary yogas, complete Panchang, and KP horary with 249-level sub-lord analysis. Calculations verified against NASA JPL Horizons with sub-arcminute accuracy. Built for matrimonial apps, horoscope platforms, spiritual wellness services, and AI-powered astrology chatbots. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Numerology",
      "description": "Numerology API to calculate life path, expression, soul urge, personality, and maturity numbers, with Pinnacle and Challenge life-phase timing, Hidden Passion, Subconscious Self, and Cornerstone and Capstone name analysis. Birth day 1-31 profiles, lucky associations (colors, gemstones, planets), personal year and month forecasts, relationship compatibility, and karmic debt and lessons. Unicode-aware multilingual name handling transliterates Spanish, French, German, Russian, Hindi, Bengali, Tamil, Japanese, Chinese, Korean, Arabic, Greek, and Hebrew names to correct Pythagorean numbers so non-Latin scripts no longer drop letters. Both Pythagorean and Chaldean systems in one call, Cheiro compound numbers (10 to 52) with planetary rulers, and business and brand name analysis. Built for numerology apps, editorial platforms, AI chatbots, and wellness services. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Tarot",
      "description": "Tarot reading API with the complete 78-card Rider-Waite-Smith deck and card meanings for love, career, health, and spiritual growth. Celtic Cross, three-card, love, career, yes/no oracle, daily card, and custom spreads, each with upright and reversed interpretations. Seeded reproducibility for personalized daily readings, and card images included. Built for tarot apps, AI tarot chatbots, fortune-telling platforms, and spiritual wellness products. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Human Design",
      "description": "Generate the full Human Design bodygraph from a birth moment: type, strategy, inner authority, profile, definition, incarnation cross, the nine centers, defined channels, and all 26 gate activations, plus two-person connection charts and small-group Penta analysis. Planetary positions verified against NASA JPL Horizons, the Design side solved on the exact 88 degree solar arc. One key, Remote MCP, typed SDKs."
    },
    {
      "name": "Forecast",
      "description": "Merge upcoming transit aspects, sign ingresses, retrograde stations, new and full moons, biorhythm critical days, and Vimshottari dasha changes into one time-ordered forecast for a single subject. The only cross-domain forecast timeline behind one key, positions verified against NASA JPL Horizons, available over Remote MCP with typed SDKs. Horizon capped at 90 days."
    },
    {
      "name": "Biorhythm",
      "description": "The most complete biorhythm API: 10 cycle types across 3 primary (physical, emotional, intellectual), 4 secondary (intuitive, aesthetic, awareness, spiritual), and 3 composite (passion, mastery, wisdom). Critical-day detection with severity classification, 90-day forecasts with best and worst days, two-person compatibility scoring, phase tracking for dashboards, and seeded daily readings for push notifications. 8 languages, sub-millisecond responses, and editorial-grade interpretations. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs. Ship a biorhythm feature in hours, not weeks."
    },
    {
      "name": "I-Ching",
      "description": "I-Ching oracle API with all 64 hexagrams, 384 changing lines, 8 trigrams, and modern interpretations for love, career, and decision-making. Cast readings with the authentic three-coin method, get a daily hexagram, and explore the Book of Changes programmatically. Built for divination apps, AI oracle chatbots, fortune-telling platforms, daily wisdom features, and spiritual guidance products. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Crystals and Healing Stones",
      "description": "Crystal healing API covering the most popular and widely-searched healing crystals and gemstones, from Amethyst and Rose Quartz to Moldavite and Selenite, each with its spiritual, emotional, and physical properties. Filter by chakra (Root through Crown), zodiac sign, or element, search by keyword, browse birthstones by month, discover crystal pairings, and get random or daily crystal picks. Includes Mohs hardness, numerological vibration, and planetary associations per stone. Built for wellness apps, crystal shops, chakra-balancing tools, astrology integrations, and AI spiritual advisors. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Dreams",
      "description": "Dream interpretation API with a 2,000+ symbol dream dictionary and psychological meanings covering animals, objects, emotions, people, scenarios, and abstract concepts. Decode dreams about falling, flying, teeth falling out, being chased, water, snakes, and more. Search, browse A-Z, or discover random symbols. Build dream journal apps, AI dream analysis chatbots, sleep-tracking features, and wellness platforms. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Angel Numbers",
      "description": "Angel numbers API with meanings for 111, 222, 333, 444, 555, 666, 777, 888, 999, 1111, and 75+ sequences covering every common family. Each reading breaks down into spiritual, love, career, money, and twin flame guidance, plus a biblical perspective and an honest shadow reading. Smart lookup analyzes any number sequence with pattern detection, digit-root calculation, classification, and an optional sighting-context note. Daily angel number endpoint, and filter by type (repeating, sequential, mirror, master, compound). Built for synchronicity apps, spiritual journals, daily guidance features, AI chatbots, and wellness platforms. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Location and Timezone",
      "description": "City search and geocoding API with 23,000+ cities across 240+ countries, returning latitude, longitude, IANA timezone, and DST-aware UTC offset. The location layer for birth chart forms, horoscope apps, event planners, and any feature that needs place-to-coordinates resolution. Fully offline dataset with sub-5ms lookups and fields that map directly to the astrology endpoints. One key covers every RoxyAPI domain, with Remote MCP and typed SDKs."
    },
    {
      "name": "Usage",
      "description": "Monitor your API usage, check rate limits, and track request consumption. Get detailed usage breakdowns by endpoint, current month statistics, and recommendations for plan upgrades when approaching limits. Essential for managing API quotas and optimizing subscription plans."
    },
    {
      "name": "Languages",
      "description": "List the response languages accepted by the `lang` query parameter on every i18n-aware endpoint. Use to populate language pickers, validate user input, or auto-detect available locales in agent integrations."
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Your API key for accessing RoxyAPI. Alternatively, you can pass the API key as a query parameter \"api_key\"."
      }
    },
    "schemas": {
      "NatalChartResponse": {
        "type": "object",
        "properties": {
          "birthDetails": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "example": "1990-07-15",
                "description": "Birth date used for this chart (YYYY-MM-DD)."
              },
              "time": {
                "type": "string",
                "example": "14:30:00",
                "description": "Birth time used for this chart (HH:MM:SS, 24-hour)."
              },
              "latitude": {
                "type": "number",
                "example": 40.7128,
                "description": "Birth latitude in decimal degrees."
              },
              "longitude": {
                "type": "number",
                "example": -74.006,
                "description": "Birth longitude in decimal degrees."
              },
              "timezone": {
                "type": "number",
                "example": -5,
                "description": "Timezone offset from UTC in decimal hours."
              }
            },
            "required": [
              "date",
              "time",
              "latitude",
              "longitude",
              "timezone"
            ],
            "description": "Birth details echoed back from the request. Confirms the input used for this chart calculation."
          },
          "planets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Sun",
                  "description": "Planet or point name (Sun, Moon, Mercury, Venus, Mars, Jupiter, Saturn, Uranus, Neptune, Pluto, North Node, South Node, Chiron, Black Moon Lilith). The lunar nodes are the mean node; software using the true node may show node positions up to 1.75 degrees different."
                },
                "longitude": {
                  "type": "number",
                  "example": 112.45,
                  "description": "Tropical ecliptic longitude in degrees (0-360)."
                },
                "latitude": {
                  "type": "number",
                  "example": 0.01,
                  "description": "Ecliptic latitude in degrees."
                },
                "sign": {
                  "type": "string",
                  "example": "Cancer",
                  "description": "Tropical zodiac sign this planet occupies."
                },
                "degree": {
                  "type": "number",
                  "example": 22.45,
                  "description": "Degree within the zodiac sign (0-29.999)."
                },
                "house": {
                  "type": "number",
                  "example": 7,
                  "description": "House placement (1-12) based on the selected house system."
                },
                "speed": {
                  "type": "number",
                  "example": 0.9571,
                  "description": "Daily motion in degrees per day. Negative values indicate retrograde."
                },
                "isRetrograde": {
                  "type": "boolean",
                  "example": false,
                  "description": "Whether the planet is in retrograde motion."
                },
                "interpretation": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "string",
                      "description": "One-sentence interpretation of this planet in its sign and house placement.",
                      "example": "Your Sun in Cancer in The Seventh House reveals how you express self-awareness and ego in the realm of partnerships."
                    },
                    "detailed": {
                      "type": "string",
                      "description": "Multi-sentence detailed interpretation with personality insights.",
                      "example": "Sun represents self-awareness and ego. In Cancer, this energy becomes nurturing, protective, emotionally intelligent..."
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Key personality traits and themes for this placement.",
                      "example": [
                        "Nurturing",
                        "Protective",
                        "Emotional",
                        "Intuitive",
                        "Home-oriented"
                      ]
                    }
                  },
                  "required": [
                    "summary",
                    "detailed",
                    "keywords"
                  ],
                  "description": "Planet-in-sign-in-house interpretation. Narrative analysis of what this placement means in the natal chart."
                }
              },
              "required": [
                "name",
                "longitude",
                "latitude",
                "sign",
                "degree",
                "house",
                "speed",
                "isRetrograde"
              ]
            },
            "description": "All 14 celestial bodies (10 classical planets, lunar nodes, Chiron, Black Moon Lilith) with zodiac signs, house placements, and interpretations."
          },
          "houses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "number",
                  "example": 1,
                  "description": "House number (1-12)."
                },
                "longitude": {
                  "type": "number",
                  "example": 45.32,
                  "description": "Ecliptic longitude of this house cusp (0-360)."
                },
                "sign": {
                  "type": "string",
                  "example": "Taurus",
                  "description": "Zodiac sign on this house cusp."
                },
                "degree": {
                  "type": "number",
                  "example": 15.32,
                  "description": "Degree within the zodiac sign (0-29.999)."
                }
              },
              "required": [
                "number",
                "longitude",
                "sign",
                "degree"
              ]
            },
            "description": "All 12 house cusps with zodiac positions. House cusps divide the chart into life areas."
          },
          "houseSystem": {
            "type": "string",
            "example": "placidus",
            "description": "House system used for this chart (placidus, whole-sign, equal, or koch)."
          },
          "aspects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "planet1": {
                  "type": "string",
                  "example": "Sun",
                  "description": "First planet in the aspect pair."
                },
                "planet2": {
                  "type": "string",
                  "example": "Moon",
                  "description": "Second planet in the aspect pair."
                },
                "type": {
                  "type": "string",
                  "example": "TRINE",
                  "description": "Aspect type (CONJUNCTION, OPPOSITION, TRINE, SQUARE, SEXTILE, etc.)."
                },
                "angle": {
                  "type": "number",
                  "example": 120,
                  "description": "Exact angle of this aspect type in degrees."
                },
                "orb": {
                  "type": "number",
                  "example": 2.5,
                  "description": "Distance from exact aspect in degrees. Tighter orb means stronger influence."
                },
                "isApplying": {
                  "type": "boolean",
                  "example": true,
                  "description": "Whether the aspect is applying (growing stronger) or separating (fading)."
                },
                "strength": {
                  "type": "number",
                  "example": 75,
                  "description": "Aspect strength percentage (0-100) based on orb tightness."
                },
                "interpretation": {
                  "type": "string",
                  "example": "harmonious",
                  "description": "Aspect nature: harmonious, challenging, or neutral."
                }
              },
              "required": [
                "planet1",
                "planet2",
                "type",
                "angle",
                "orb",
                "isApplying",
                "strength",
                "interpretation"
              ]
            },
            "description": "All planetary aspects found in this chart with orbs, strength, and interpretation."
          },
          "patterns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "GRAND_TRINE",
                    "KITE",
                    "T_SQUARE",
                    "GRAND_CROSS",
                    "YOD",
                    "MYSTIC_RECTANGLE",
                    "STELLIUM"
                  ],
                  "example": "GRAND_TRINE",
                  "description": "Pattern kind identifier. GRAND_TRINE (3 trines, harmonious flow), KITE (Grand Trine with a focal outlet planet), T_SQUARE (opposition with squared apex, growth engine), GRAND_CROSS (4 planets in 2 oppositions and 4 squares, peak tension), YOD (Finger of Fate, fated adjustment), MYSTIC_RECTANGLE (oppositions softened by trines and sextiles), STELLIUM (3+ planets clustered in a sign or 10-degree arc)."
                },
                "name": {
                  "type": "string",
                  "example": "Grand Trine",
                  "description": "Human-readable name of the configuration as used in astrological literature."
                },
                "planets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "Sun",
                    "Moon",
                    "Mars"
                  ],
                  "description": "Participating bodies in canonical order. For Kite, T-Square, and Yod the apex planet appears first."
                },
                "apex": {
                  "type": "string",
                  "example": "Mars",
                  "description": "Focal planet for Kite, T-Square, and Yod patterns. Receives the released energy of the configuration and is the recommended integration point."
                },
                "element": {
                  "type": "string",
                  "enum": [
                    "fire",
                    "earth",
                    "air",
                    "water"
                  ],
                  "example": "water",
                  "description": "Dominant element when the pattern is element-coherent (Grand Trine, Kite). Reported lowercase. Absent for patterns whose meaning does not pivot on element."
                },
                "modality": {
                  "type": "string",
                  "enum": [
                    "cardinal",
                    "fixed",
                    "mutable"
                  ],
                  "example": "cardinal",
                  "description": "Dominant modality for tension-based patterns (T-Square, Grand Cross). Cardinal initiates, Fixed sustains, Mutable adapts."
                },
                "dissociate": {
                  "type": "boolean",
                  "example": false,
                  "description": "True if the pattern is out-of-sign (one or more planets in a neighboring element or modality). Dissociate patterns are still valid but operate with weakened thematic coherence."
                },
                "tightness": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "example": 78,
                  "description": "Tightness score (0-100) derived from the average orb tightness across all defining aspects. Higher means closer to exact and stronger thematic expression."
                },
                "interpretation": {
                  "type": "string",
                  "example": "Grand Trine in Water signs binds Sun, Moon, and Mars in flowing harmony, gifts that come easily but ask to be activated.",
                  "description": "Concise one-line interpretation naming the participating planets and theme. Localized to the requested language via the lang query parameter (defaults to English)."
                },
                "interpretationKey": {
                  "type": "string",
                  "example": "aspectPattern.grandTrine",
                  "description": "Stable template identifier used to render the interpretation. Useful for clients that wish to swap in a custom narrative template while preserving the structured variables."
                },
                "interpretationVars": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "element": "Water",
                    "planet1": "Sun",
                    "planet2": "Moon",
                    "planet3": "Mars"
                  },
                  "description": "Variables that were interpolated into the interpretation template. Names already resolved to the requested language where appropriate."
                }
              },
              "required": [
                "kind",
                "name",
                "planets",
                "tightness",
                "interpretation",
                "interpretationKey",
                "interpretationVars"
              ]
            },
            "description": "Detected multi-planet aspect configurations (Grand Trine, Kite, T-Square, Grand Cross, Yod, Mystic Rectangle, Stellium). Grand Cross suppresses contained T-Squares, Kite suppresses underlying Grand Trine."
          },
          "aspectsInterpretation": {
            "type": "object",
            "properties": {
              "summary": {
                "type": "string",
                "description": "Narrative summary of the overall aspect pattern in this chart.",
                "example": "Your chart contains 15 aspects: 8 harmonious, 5 challenging, and 2 neutral. This creates a harmonious overall pattern."
              },
              "dominant": {
                "type": "string",
                "example": "harmonious",
                "description": "Whether the chart is predominantly harmonious, challenging, or balanced."
              },
              "harmonious": {
                "type": "number",
                "example": 8,
                "description": "Count of harmonious aspects (trine, sextile)."
              },
              "challenging": {
                "type": "number",
                "example": 5,
                "description": "Count of challenging aspects (square, opposition)."
              },
              "neutral": {
                "type": "number",
                "example": 2,
                "description": "Count of neutral aspects (conjunction)."
              }
            },
            "required": [
              "summary",
              "dominant",
              "harmonious",
              "challenging",
              "neutral"
            ],
            "description": "Aspect pattern analysis showing the balance of harmonious vs challenging energies in the chart."
          },
          "ascendant": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Taurus",
                "description": "Zodiac sign on the Ascendant (rising sign)."
              },
              "degree": {
                "type": "number",
                "example": 15.32,
                "description": "Degree within the Ascendant sign (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "example": 45.32,
                "description": "Absolute ecliptic longitude of the Ascendant (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Ascendant (rising sign). The eastern horizon at birth, defining outward personality and physical appearance."
          },
          "midheaven": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Aquarius",
                "description": "Zodiac sign on the Midheaven (MC)."
              },
              "degree": {
                "type": "number",
                "example": 8.76,
                "description": "Degree within the Midheaven sign (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "example": 308.76,
                "description": "Absolute ecliptic longitude of the Midheaven (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Midheaven (MC). The highest point of the ecliptic at birth, representing career direction and public image."
          },
          "partOfFortune": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Aries",
                "description": "Zodiac sign holding the Part of Fortune."
              },
              "degree": {
                "type": "number",
                "minimum": 0,
                "maximum": 30,
                "example": 27.24,
                "description": "Degree within the Part of Fortune sign (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "minimum": 0,
                "maximum": 360,
                "example": 27.24,
                "description": "Absolute ecliptic longitude of the Part of Fortune (0-360)."
              },
              "sect": {
                "type": "string",
                "enum": [
                  "day",
                  "night"
                ],
                "example": "night",
                "description": "Chart sect used for the calculation. Day (diurnal) when the Sun is above the horizon, night (nocturnal) when below. Day charts use Ascendant plus Moon minus Sun, night charts use Ascendant plus Sun minus Moon."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude",
              "sect"
            ],
            "description": "Part of Fortune (Lot of Fortune). A point derived from the Ascendant and the two luminaries that marks an area of ease, vitality, and material wellbeing in the chart."
          },
          "vertex": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Virgo",
                "description": "Zodiac sign holding the Vertex."
              },
              "degree": {
                "type": "number",
                "minimum": 0,
                "maximum": 30,
                "example": 12.9,
                "description": "Degree within the Vertex sign (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "minimum": 0,
                "maximum": 360,
                "example": 162.9,
                "description": "Absolute ecliptic longitude of the Vertex (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Vertex. The western intersection of the prime vertical with the ecliptic, often read as a point of fated encounters and turning-point relationships. The opposite point is the Anti-Vertex."
          },
          "summary": {
            "type": "object",
            "properties": {
              "dominantElement": {
                "type": "string",
                "example": "Water",
                "description": "Most represented element in the chart (Fire, Earth, Air, Water)."
              },
              "dominantModality": {
                "type": "string",
                "example": "Cardinal",
                "description": "Most represented modality in the chart (Cardinal, Fixed, Mutable)."
              },
              "retrogradePlanets": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "Mercury",
                  "Saturn"
                ],
                "description": "Planets in retrograde motion at the time of birth."
              },
              "elementDistribution": {
                "type": "object",
                "additionalProperties": {
                  "type": "number"
                },
                "example": {
                  "Fire": 2,
                  "Earth": 3,
                  "Air": 1,
                  "Water": 4
                },
                "description": "Count of planets in each element. Shows elemental emphasis in the personality."
              },
              "modalityDistribution": {
                "type": "object",
                "additionalProperties": {
                  "type": "number"
                },
                "example": {
                  "Cardinal": 4,
                  "Fixed": 3,
                  "Mutable": 3
                },
                "description": "Count of planets in each modality. Shows the dominant operating mode."
              }
            },
            "required": [
              "dominantElement",
              "dominantModality",
              "retrogradePlanets",
              "elementDistribution",
              "modalityDistribution"
            ],
            "description": "Chart summary with dominant element, modality, retrograde planets, and distribution analysis."
          }
        },
        "required": [
          "birthDetails",
          "planets",
          "houses",
          "houseSystem",
          "aspects",
          "aspectsInterpretation",
          "ascendant",
          "midheaven",
          "partOfFortune",
          "vertex",
          "summary"
        ]
      },
      "NatalChartRequest": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "1990-07-15",
            "description": "Birth date in YYYY-MM-DD format. Determines planetary positions for the specific calendar day."
          },
          "time": {
            "type": "string",
            "format": "time",
            "example": "14:30:00",
            "description": "Birth time in 24-hour HH:MM:SS format. Determines the Ascendant (rising sign) and house cusps. Use 12:00:00 if unknown."
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "example": 40.7128,
            "description": "Birth location latitude in decimal degrees (-90 to 90). Positive = North, negative = South."
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "example": -74.006,
            "description": "Birth location longitude in decimal degrees (-180 to 180). Positive = East, negative = West."
          },
          "timezone": {
            "anyOf": [
              {
                "type": "number",
                "minimum": -14,
                "maximum": 14
              },
              {
                "type": "string"
              }
            ],
            "description": "Timezone: IANA name (e.g. \"America/New_York\", \"Europe/London\") OR decimal hours from UTC (e.g. -5 for EST, 1 for CET). IANA strings are resolved to the DST-correct offset for the given date, so you can pass `cities[0].timezone` from /location/search directly.",
            "example": -5
          },
          "houseSystem": {
            "type": "string",
            "enum": [
              "placidus",
              "whole-sign",
              "equal",
              "koch"
            ],
            "default": "placidus",
            "example": "placidus",
            "description": "House system for dividing the chart into 12 houses. Placidus (default) is most popular in Western astrology and time-sensitive. Whole Sign assigns one sign per house (simpler, ancient). Equal houses divide chart into 30° segments from Ascendant. Koch emphasizes houses in high latitudes."
          }
        },
        "required": [
          "date",
          "time",
          "latitude",
          "longitude",
          "timezone"
        ]
      },
      "HousesResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "example": "1990-07-15",
            "description": "Input date used for this house cusp calculation."
          },
          "time": {
            "type": "string",
            "example": "14:30:00",
            "description": "Input time used for this house cusp calculation."
          },
          "latitude": {
            "type": "number",
            "example": 40.7128,
            "description": "Observer latitude used for horizon-based house calculations."
          },
          "longitude": {
            "type": "number",
            "example": -74.006,
            "description": "Observer longitude used for local sidereal time."
          },
          "timezone": {
            "type": "number",
            "example": -5,
            "description": "Timezone offset from UTC applied to this calculation."
          },
          "houseSystem": {
            "type": "string",
            "example": "placidus",
            "description": "House system used for this calculation (placidus, whole-sign, equal, koch, or all)."
          },
          "ascendant": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Taurus",
                "description": "Zodiac sign on the Ascendant (rising sign). Determines the first house cusp."
              },
              "degree": {
                "type": "number",
                "example": 15.32,
                "description": "Degree within the Ascendant sign (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "example": 45.32,
                "description": "Absolute ecliptic longitude of the Ascendant in degrees (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Ascendant (rising sign) position. The eastern horizon point at the moment of birth, defining personality expression and physical appearance in Western astrology."
          },
          "midheaven": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Aquarius",
                "description": "Zodiac sign on the Midheaven (MC). Indicates career direction and public reputation."
              },
              "degree": {
                "type": "number",
                "example": 8.76,
                "description": "Degree within the Midheaven sign (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "example": 308.76,
                "description": "Absolute ecliptic longitude of the Midheaven in degrees (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Midheaven (MC) position. The highest point of the ecliptic at birth, representing career aspirations and public image in natal astrology."
          },
          "houses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "number",
                  "example": 1,
                  "description": "House number (1-12). Each house governs specific life areas."
                },
                "longitude": {
                  "type": "number",
                  "example": 45.32,
                  "description": "Ecliptic longitude of this house cusp in degrees (0-360)."
                },
                "sign": {
                  "type": "string",
                  "example": "Taurus",
                  "description": "Zodiac sign on this house cusp."
                },
                "degree": {
                  "type": "number",
                  "example": 15.32,
                  "description": "Degree within the zodiac sign on this cusp (0-29.999)."
                }
              },
              "required": [
                "number",
                "longitude",
                "sign",
                "degree"
              ]
            },
            "description": "All 12 house cusps with their zodiac positions. House cusps divide the chart into life areas: identity (1st), resources (2nd), communication (3rd), home (4th), creativity (5th), health (6th), partnerships (7th), transformation (8th), philosophy (9th), career (10th), community (11th), spirituality (12th)."
          },
          "comparison": {
            "type": "object",
            "additionalProperties": {
              "type": "object",
              "properties": {
                "houses": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "number": {
                        "type": "number"
                      },
                      "longitude": {
                        "type": "number"
                      },
                      "sign": {
                        "type": "string"
                      },
                      "degree": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "number",
                      "longitude",
                      "sign",
                      "degree"
                    ]
                  }
                }
              },
              "required": [
                "houses"
              ]
            },
            "description": "Side-by-side house cusp comparison across all four systems (Placidus, Whole Sign, Equal, Koch). Only included when houseSystem is set to \"all\". Useful for educational tools and system comparison."
          }
        },
        "required": [
          "date",
          "time",
          "latitude",
          "longitude",
          "timezone",
          "houseSystem",
          "ascendant",
          "midheaven",
          "houses"
        ]
      },
      "AspectsResponse": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "example": "1990-07-15",
            "description": "Date used for this aspect calculation (YYYY-MM-DD)."
          },
          "time": {
            "type": "string",
            "example": "14:30:00",
            "description": "Time used for this calculation (HH:MM:SS)."
          },
          "timezone": {
            "type": "number",
            "example": -5,
            "description": "Timezone offset from UTC in decimal hours."
          },
          "aspectsFound": {
            "type": "number",
            "example": 12,
            "description": "Total number of aspects found after any filters applied."
          },
          "aspects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "planet1": {
                  "type": "string",
                  "example": "Sun",
                  "description": "First planet in the aspect pair."
                },
                "planet2": {
                  "type": "string",
                  "example": "Moon",
                  "description": "Second planet in the aspect pair."
                },
                "type": {
                  "type": "string",
                  "example": "TRINE",
                  "description": "Aspect type (CONJUNCTION, OPPOSITION, TRINE, SQUARE, SEXTILE, etc.)."
                },
                "angle": {
                  "type": "number",
                  "example": 120,
                  "description": "Exact angle defining this aspect type in degrees."
                },
                "orb": {
                  "type": "number",
                  "example": 2.5,
                  "description": "Distance from exact aspect in degrees. Tighter orb means stronger influence."
                },
                "isApplying": {
                  "type": "boolean",
                  "example": true,
                  "description": "Whether the aspect is applying (growing stronger) or separating (fading)."
                },
                "strength": {
                  "type": "number",
                  "example": 75,
                  "description": "Aspect strength (0-100) based on orb tightness."
                },
                "interpretation": {
                  "type": "string",
                  "example": "harmonious",
                  "description": "Aspect nature: harmonious, challenging, or neutral."
                },
                "meaning": {
                  "type": "object",
                  "properties": {
                    "name": {
                      "type": "string",
                      "example": "Trine",
                      "description": "Aspect display name."
                    },
                    "description": {
                      "type": "object",
                      "properties": {
                        "short": {
                          "type": "string",
                          "description": "Brief aspect description."
                        },
                        "long": {
                          "type": "string",
                          "description": "Detailed aspect description with astrological context."
                        }
                      },
                      "required": [
                        "short",
                        "long"
                      ],
                      "description": "Aspect meaning in short and long form."
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Keywords associated with this aspect type."
                    },
                    "nature": {
                      "type": "string",
                      "example": "harmonious",
                      "description": "Aspect nature classification."
                    }
                  },
                  "required": [
                    "name",
                    "description",
                    "keywords",
                    "nature"
                  ],
                  "description": "Aspect meaning with keywords, description, and nature classification."
                }
              },
              "required": [
                "planet1",
                "planet2",
                "type",
                "angle",
                "orb",
                "isApplying",
                "strength",
                "interpretation"
              ]
            },
            "description": "All aspects found between the specified planets, with strength, orb, and interpretation."
          },
          "patterns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "GRAND_TRINE",
                    "KITE",
                    "T_SQUARE",
                    "GRAND_CROSS",
                    "YOD",
                    "MYSTIC_RECTANGLE",
                    "STELLIUM"
                  ],
                  "example": "GRAND_TRINE",
                  "description": "Pattern kind identifier. GRAND_TRINE (3 trines, harmonious flow), KITE (Grand Trine with a focal outlet planet), T_SQUARE (opposition with squared apex, growth engine), GRAND_CROSS (4 planets in 2 oppositions and 4 squares, peak tension), YOD (Finger of Fate, fated adjustment), MYSTIC_RECTANGLE (oppositions softened by trines and sextiles), STELLIUM (3+ planets clustered in a sign or 10-degree arc)."
                },
                "name": {
                  "type": "string",
                  "example": "Grand Trine",
                  "description": "Human-readable name of the configuration as used in astrological literature."
                },
                "planets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "Sun",
                    "Moon",
                    "Mars"
                  ],
                  "description": "Participating bodies in canonical order. For Kite, T-Square, and Yod the apex planet appears first."
                },
                "apex": {
                  "type": "string",
                  "example": "Mars",
                  "description": "Focal planet for Kite, T-Square, and Yod patterns. Receives the released energy of the configuration and is the recommended integration point."
                },
                "element": {
                  "type": "string",
                  "enum": [
                    "fire",
                    "earth",
                    "air",
                    "water"
                  ],
                  "example": "water",
                  "description": "Dominant element when the pattern is element-coherent (Grand Trine, Kite). Reported lowercase. Absent for patterns whose meaning does not pivot on element."
                },
                "modality": {
                  "type": "string",
                  "enum": [
                    "cardinal",
                    "fixed",
                    "mutable"
                  ],
                  "example": "cardinal",
                  "description": "Dominant modality for tension-based patterns (T-Square, Grand Cross). Cardinal initiates, Fixed sustains, Mutable adapts."
                },
                "dissociate": {
                  "type": "boolean",
                  "example": false,
                  "description": "True if the pattern is out-of-sign (one or more planets in a neighboring element or modality). Dissociate patterns are still valid but operate with weakened thematic coherence."
                },
                "tightness": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "example": 78,
                  "description": "Tightness score (0-100) derived from the average orb tightness across all defining aspects. Higher means closer to exact and stronger thematic expression."
                },
                "interpretation": {
                  "type": "string",
                  "example": "Grand Trine in Water signs binds Sun, Moon, and Mars in flowing harmony, gifts that come easily but ask to be activated.",
                  "description": "Concise one-line interpretation naming the participating planets and theme. Localized to the requested language via the lang query parameter (defaults to English)."
                },
                "interpretationKey": {
                  "type": "string",
                  "example": "aspectPattern.grandTrine",
                  "description": "Stable template identifier used to render the interpretation. Useful for clients that wish to swap in a custom narrative template while preserving the structured variables."
                },
                "interpretationVars": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "element": "Water",
                    "planet1": "Sun",
                    "planet2": "Moon",
                    "planet3": "Mars"
                  },
                  "description": "Variables that were interpolated into the interpretation template. Names already resolved to the requested language where appropriate."
                }
              },
              "required": [
                "kind",
                "name",
                "planets",
                "tightness",
                "interpretation",
                "interpretationKey",
                "interpretationVars"
              ]
            },
            "description": "Detected multi-planet aspect configurations (Grand Trine, Kite, T-Square, Grand Cross, Yod, Mystic Rectangle, Stellium)."
          },
          "summary": {
            "type": "object",
            "properties": {
              "totalAspects": {
                "type": "number",
                "example": 12,
                "description": "Total aspects found."
              },
              "harmonious": {
                "type": "number",
                "example": 7,
                "description": "Count of harmonious aspects (trine, sextile)."
              },
              "challenging": {
                "type": "number",
                "example": 4,
                "description": "Count of challenging aspects (square, opposition)."
              },
              "neutral": {
                "type": "number",
                "example": 1,
                "description": "Count of neutral aspects (conjunction)."
              },
              "byType": {
                "type": "object",
                "additionalProperties": {
                  "type": "number"
                },
                "example": {
                  "CONJUNCTION": 2,
                  "TRINE": 3,
                  "SQUARE": 2,
                  "SEXTILE": 2,
                  "OPPOSITION": 1
                },
                "description": "Aspect count grouped by type."
              }
            },
            "required": [
              "totalAspects",
              "harmonious",
              "challenging",
              "neutral",
              "byType"
            ],
            "description": "Aspect summary with counts by nature and type."
          }
        },
        "required": [
          "date",
          "time",
          "timezone",
          "aspectsFound",
          "aspects",
          "summary"
        ]
      },
      "AspectsRequest": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "1990-07-15",
            "description": "Date in YYYY-MM-DD format"
          },
          "time": {
            "type": "string",
            "format": "time",
            "example": "14:30:00",
            "description": "Time in HH:MM:SS format (24-hour)"
          },
          "timezone": {
            "anyOf": [
              {
                "type": "number",
                "minimum": -14,
                "maximum": 14
              },
              {
                "type": "string"
              }
            ],
            "description": "Timezone offset from UTC in decimal hours (NOT minutes format). Examples: New York EST = -5, India IST = 5.5 (NOT 5:30), Tokyo JST = 9. IMPORTANT: Use decimal format (5.5, not 5:30).",
            "example": -5
          },
          "planets": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "Sun",
              "Moon",
              "Mercury",
              "Venus",
              "Mars"
            ],
            "description": "Optional: specific bodies to calculate aspects for (defaults to all 14: the 10 classical planets, the lunar nodes, Chiron, and Black Moon Lilith)"
          },
          "aspectTypes": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "example": [
              "CONJUNCTION",
              "OPPOSITION",
              "TRINE",
              "SQUARE"
            ],
            "description": "Optional: specific aspect types to find (defaults to all 9)"
          }
        },
        "required": [
          "date",
          "time",
          "timezone"
        ]
      },
      "AspectPatternsResponse": {
        "type": "object",
        "properties": {
          "patterns": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "kind": {
                  "type": "string",
                  "enum": [
                    "GRAND_TRINE",
                    "KITE",
                    "T_SQUARE",
                    "GRAND_CROSS",
                    "YOD",
                    "MYSTIC_RECTANGLE",
                    "STELLIUM"
                  ],
                  "example": "GRAND_TRINE",
                  "description": "Pattern kind identifier. GRAND_TRINE (3 trines, harmonious flow), KITE (Grand Trine with a focal outlet planet), T_SQUARE (opposition with squared apex, growth engine), GRAND_CROSS (4 planets in 2 oppositions and 4 squares, peak tension), YOD (Finger of Fate, fated adjustment), MYSTIC_RECTANGLE (oppositions softened by trines and sextiles), STELLIUM (3+ planets clustered in a sign or 10-degree arc)."
                },
                "name": {
                  "type": "string",
                  "example": "Grand Trine",
                  "description": "Human-readable name of the configuration as used in astrological literature."
                },
                "planets": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "example": [
                    "Sun",
                    "Moon",
                    "Mars"
                  ],
                  "description": "Participating bodies in canonical order. For Kite, T-Square, and Yod the apex planet appears first."
                },
                "apex": {
                  "type": "string",
                  "example": "Mars",
                  "description": "Focal planet for Kite, T-Square, and Yod patterns. Receives the released energy of the configuration and is the recommended integration point."
                },
                "element": {
                  "type": "string",
                  "enum": [
                    "fire",
                    "earth",
                    "air",
                    "water"
                  ],
                  "example": "water",
                  "description": "Dominant element when the pattern is element-coherent (Grand Trine, Kite). Reported lowercase. Absent for patterns whose meaning does not pivot on element."
                },
                "modality": {
                  "type": "string",
                  "enum": [
                    "cardinal",
                    "fixed",
                    "mutable"
                  ],
                  "example": "cardinal",
                  "description": "Dominant modality for tension-based patterns (T-Square, Grand Cross). Cardinal initiates, Fixed sustains, Mutable adapts."
                },
                "dissociate": {
                  "type": "boolean",
                  "example": false,
                  "description": "True if the pattern is out-of-sign (one or more planets in a neighboring element or modality). Dissociate patterns are still valid but operate with weakened thematic coherence."
                },
                "tightness": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 100,
                  "example": 78,
                  "description": "Tightness score (0-100) derived from the average orb tightness across all defining aspects. Higher means closer to exact and stronger thematic expression."
                },
                "interpretation": {
                  "type": "string",
                  "example": "Grand Trine in Water signs binds Sun, Moon, and Mars in flowing harmony, gifts that come easily but ask to be activated.",
                  "description": "Concise one-line interpretation naming the participating planets and theme. Localized to the requested language via the lang query parameter (defaults to English)."
                },
                "interpretationKey": {
                  "type": "string",
                  "example": "aspectPattern.grandTrine",
                  "description": "Stable template identifier used to render the interpretation. Useful for clients that wish to swap in a custom narrative template while preserving the structured variables."
                },
                "interpretationVars": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "string"
                  },
                  "example": {
                    "element": "Water",
                    "planet1": "Sun",
                    "planet2": "Moon",
                    "planet3": "Mars"
                  },
                  "description": "Variables that were interpolated into the interpretation template. Names already resolved to the requested language where appropriate."
                }
              },
              "required": [
                "kind",
                "name",
                "planets",
                "tightness",
                "interpretation",
                "interpretationKey",
                "interpretationVars"
              ]
            },
            "description": "All aspect patterns detected in the chart, in detection order: Grand Cross first, then Kite, Grand Trine, T-Square, Yod, Mystic Rectangle, Stellium. Patterns absorbed by a higher-priority detection (T-Squares inside a Grand Cross, Grand Trines absorbed by a Kite) are not reported separately."
          },
          "total": {
            "type": "number",
            "example": 3,
            "description": "Total number of detected aspect patterns in this chart."
          },
          "options": {
            "type": "object",
            "properties": {
              "strictOrbs": {
                "type": "boolean",
                "example": false,
                "description": "Whether the strict (Pontopia-style) orb budget was used. False uses industry-standard orbs (8 for major aspects, 9 for square, 6 for sextile, 3 for quincunx)."
              },
              "include": {
                "type": "array",
                "items": {
                  "type": "string",
                  "enum": [
                    "chiron",
                    "northNode"
                  ]
                },
                "example": [],
                "description": "Optional bodies included beyond the default Sun-Pluto set. Empty means classical 10-planet detection only."
              }
            },
            "required": [
              "strictOrbs",
              "include"
            ],
            "description": "Echo of the options used for this detection run. Useful for reproducibility and for downstream UI display."
          }
        },
        "required": [
          "patterns",
          "total",
          "options"
        ]
      },
      "AspectPatternsRequest": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "1990-07-15",
            "description": "Birth date in YYYY-MM-DD format. Determines planetary positions for the specific calendar day."
          },
          "time": {
            "type": "string",
            "format": "time",
            "example": "14:30:00",
            "description": "Birth time in 24-hour HH:MM:SS format. Determines the Ascendant (rising sign) and house cusps. Use 12:00:00 if unknown."
          },
          "latitude": {
            "type": "number",
            "minimum": -90,
            "maximum": 90,
            "example": 40.7128,
            "description": "Birth location latitude in decimal degrees (-90 to 90). Positive = North, negative = South."
          },
          "longitude": {
            "type": "number",
            "minimum": -180,
            "maximum": 180,
            "example": -74.006,
            "description": "Birth location longitude in decimal degrees (-180 to 180). Positive = East, negative = West."
          },
          "timezone": {
            "anyOf": [
              {
                "type": "number",
                "minimum": -14,
                "maximum": 14
              },
              {
                "type": "string"
              }
            ],
            "description": "Timezone: IANA name (e.g. \"America/New_York\", \"Europe/London\") OR decimal hours from UTC (e.g. -5 for EST, 1 for CET). IANA strings are resolved to the DST-correct offset for the given date, so you can pass `cities[0].timezone` from /location/search directly.",
            "example": -5
          }
        },
        "required": [
          "date",
          "time",
          "latitude",
          "longitude",
          "timezone"
        ],
        "example": {
          "date": "1955-02-24",
          "time": "19:15:00",
          "latitude": 37.77,
          "longitude": -122.42,
          "timezone": -8
        }
      },
      "TransitsResponse": {
        "type": "object",
        "properties": {
          "transitDate": {
            "type": "string",
            "example": "2025-12-19",
            "description": "Date of the transit calculation (YYYY-MM-DD)."
          },
          "transitTime": {
            "type": "string",
            "example": "12:00:00",
            "description": "Time of the transit calculation (HH:MM:SS, 24-hour)."
          },
          "timezone": {
            "type": "number",
            "example": 0,
            "description": "Timezone offset from UTC in hours used for this calculation."
          },
          "transitPlanets": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string",
                  "example": "Sun",
                  "description": "Planet name (Sun, Moon, Mercury, Venus, Mars, Jupiter, Saturn, Uranus, Neptune, Pluto, North Node, South Node, Chiron, Black Moon Lilith). The lunar nodes are the mean node; software using the true node may show node positions up to 1.75 degrees different."
                },
                "longitude": {
                  "type": "number",
                  "example": 267.45,
                  "description": "Tropical ecliptic longitude in degrees (0-360). Primary coordinate for sign and aspect calculation."
                },
                "latitude": {
                  "type": "number",
                  "example": 0.01,
                  "description": "Ecliptic latitude in degrees. Near zero for most planets except Moon and Pluto."
                },
                "sign": {
                  "type": "string",
                  "example": "Sagittarius",
                  "description": "Tropical zodiac sign the planet currently occupies. Changes when longitude crosses a 30-degree boundary."
                },
                "degree": {
                  "type": "number",
                  "example": 27.45,
                  "description": "Degree within the current zodiac sign (0-29.999). Indicates how far into the sign the planet has progressed."
                },
                "speed": {
                  "type": "number",
                  "example": 0.9571,
                  "description": "Daily motion in degrees per day. Negative values indicate retrograde motion."
                },
                "isRetrograde": {
                  "type": "boolean",
                  "example": false,
                  "description": "Whether the planet is currently in apparent retrograde motion. Retrograde transits are considered more introspective and revisionary."
                }
              },
              "required": [
                "name",
                "longitude",
                "latitude",
                "sign",
                "degree",
                "speed",
                "isRetrograde"
              ]
            },
            "description": "Current positions of all 14 celestial bodies (10 classical planets, lunar nodes, Chiron, Black Moon Lilith) in the tropical zodiac. Use for daily transit tracking, horoscope generation, and aspect monitoring."
          },
          "transitAspects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "transitPlanet": {
                  "type": "string",
                  "example": "Sun",
                  "description": "Transiting planet forming the aspect."
                },
                "natalPlanet": {
                  "type": "string",
                  "example": "Mars",
                  "description": "Natal planet being aspected."
                },
                "type": {
                  "type": "string",
                  "example": "CONJUNCTION",
                  "description": "Aspect type (CONJUNCTION, OPPOSITION, TRINE, SQUARE, SEXTILE, etc.)."
                },
                "angle": {
                  "type": "number",
                  "example": 0,
                  "description": "Exact angle of this aspect type in degrees."
                },
                "orb": {
                  "type": "number",
                  "example": 1.2,
                  "description": "Distance from exact aspect in degrees. Tighter orb = stronger influence."
                },
                "isApplying": {
                  "type": "boolean",
                  "example": true,
                  "description": "Whether the transiting planet is moving toward exactitude (applying) or away from it (separating). Applying aspects grow stronger."
                },
                "strength": {
                  "type": "number",
                  "example": 88,
                  "description": "Aspect strength percentage (0-100). Based on orb tightness — 100 is exact."
                },
                "nature": {
                  "type": "string",
                  "example": "challenging",
                  "description": "Aspect nature: harmonious (trine, sextile), challenging (square, opposition), or neutral (conjunction)."
                },
                "interpretation": {
                  "type": "object",
                  "properties": {
                    "summary": {
                      "type": "string",
                      "description": "Narrative interpretation of what this transit aspect means and how it manifests."
                    },
                    "timing": {
                      "type": "string",
                      "description": "How long this transit influence lasts based on the transiting planet speed."
                    },
                    "impact": {
                      "type": "string",
                      "description": "Strength and nature of the transit impact on your natal chart."
                    },
                    "guidance": {
                      "type": "string",
                      "description": "Practical advice for working with or navigating this transit energy."
                    },
                    "keywords": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Key themes activated by this transit aspect."
                    }
                  },
                  "required": [
                    "summary",
                    "timing",
                    "impact",
                    "guidance",
                    "keywords"
                  ],
                  "description": "Rich interpretation of the transit aspect including narrative summary, timing, impact assessment, practical guidance, and keywords."
                }
              },
              "required": [
                "transitPlanet",
                "natalPlanet",
                "type",
                "angle",
                "orb",
                "isApplying",
                "strength",
                "nature",
                "interpretation"
              ]
            },
            "description": "Transit-to-natal aspects (only included when natalChart is provided in the request). Shows which transiting planets are aspecting natal planets."
          },
          "summary": {
            "type": "object",
            "properties": {
              "totalAspects": {
                "type": "number",
                "example": 8,
                "description": "Total transit-to-natal aspects found."
              },
              "harmonious": {
                "type": "number",
                "example": 4,
                "description": "Count of harmonious aspects (trine, sextile)."
              },
              "challenging": {
                "type": "number",
                "example": 3,
                "description": "Count of challenging aspects (square, opposition)."
              },
              "neutral": {
                "type": "number",
                "example": 1,
                "description": "Count of neutral aspects (conjunction)."
              }
            },
            "required": [
              "totalAspects",
              "harmonious",
              "challenging",
              "neutral"
            ],
            "description": "Transit aspect summary counts (only included when natalChart is provided). Quick overview of the current transit weather."
          }
        },
        "required": [
          "transitDate",
          "transitTime",
          "timezone",
          "transitPlanets"
        ]
      },
      "TransitsRequest": {
        "type": "object",
        "properties": {
          "date": {
            "type": "string",
            "format": "date",
            "example": "2025-12-19",
            "description": "Transit date in YYYY-MM-DD format (defaults to current date)"
          },
          "time": {
            "type": "string",
            "format": "time",
            "example": "12:00:00",
            "description": "Transit time in HH:MM:SS format (defaults to current time)"
          },
          "timezone": {
            "anyOf": [
              {
                "type": "number",
                "minimum": -14,
                "maximum": 14
              },
              {
                "type": "string"
              }
            ],
            "default": 0,
            "description": "Transit timezone: decimal hours from UTC OR IANA name (e.g. \"America/New_York\"). IANA resolved to the DST-correct offset for the transit date. Defaults to 0 (UTC).",
            "example": 0
          },
          "natalChart": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date",
                "example": "1990-07-15",
                "description": "Date in YYYY-MM-DD format. A single-digit month or day is accepted and zero-padded (2026-3-5 becomes 2026-03-05). Impossible calendar dates are rejected."
              },
              "time": {
                "type": "string",
                "format": "time",
                "example": "14:30:00",
                "description": "Time in 24-hour format. Seconds are optional and default to 00 (14:30 becomes 14:30:00); a single-digit hour is zero-padded. Out-of-range values are rejected."
              },
              "latitude": {
                "type": "number",
                "minimum": -90,
                "maximum": 90,
                "example": 40.7128
              },
              "longitude": {
                "type": "number",
                "minimum": -180,
                "maximum": 180,
                "example": -74.006
              },
              "timezone": {
                "anyOf": [
                  {
                    "type": "number",
                    "minimum": -14,
                    "maximum": 14
                  },
                  {
                    "type": "string"
                  }
                ],
                "description": "Natal timezone: decimal hours OR IANA name (e.g. \"America/New_York\"). IANA resolved to the DST-correct offset for the natal date.",
                "example": -5
              }
            },
            "required": [
              "date",
              "time",
              "latitude",
              "longitude",
              "timezone"
            ],
            "description": "Optional natal chart data to compare transits against"
          }
        }
      },
      "AstrocartographyResponse": {
        "type": "object",
        "properties": {
          "birthDetails": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "format": "date",
                "example": "1990-07-15",
                "description": "Birth date in YYYY-MM-DD format. Determines planetary positions for the specific calendar day."
              },
              "time": {
                "type": "string",
                "format": "time",
                "example": "14:30:00",
                "description": "Birth time in 24-hour HH:MM:SS format. Determines the Ascendant (rising sign) and house cusps. Use 12:00:00 if unknown."
              },
              "latitude": {
                "type": "number",
                "minimum": -90,
                "maximum": 90,
                "example": 40.7128,
                "description": "Birth location latitude in decimal degrees (-90 to 90). Positive = North, negative = South."
              },
              "longitude": {
                "type": "number",
                "minimum": -180,
                "maximum": 180,
                "example": -74.006,
                "description": "Birth location longitude in decimal degrees (-180 to 180). Positive = East, negative = West."
              },
              "timezone": {
                "type": "number",
                "minimum": -12,
                "maximum": 14,
                "example": -5,
                "description": "Timezone offset from UTC in decimal hours. Examples: New York = -5, London = 0, India = 5.5, Tokyo = 9."
              }
            },
            "required": [
              "date",
              "time",
              "latitude",
              "longitude",
              "timezone"
            ],
            "description": "Echo of the birth moment and place used to compute every planetary line."
          },
          "lines": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "planet": {
                  "type": "string",
                  "example": "Sun",
                  "description": "Celestial body this set of planetary lines belongs to."
                },
                "symbol": {
                  "type": "string",
                  "example": "☉",
                  "description": "Unicode astronomical symbol for this body."
                },
                "rightAscension": {
                  "type": "number",
                  "example": 90.66,
                  "description": "Equatorial right ascension of the body in degrees (0 to 360), the basis for every line."
                },
                "declination": {
                  "type": "number",
                  "example": 23.44,
                  "description": "Equatorial declination of the body in degrees (-90 to 90), which sets how far the rising and setting lines curve."
                },
                "mc": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "example": -71.23,
                      "description": "Constant geographic longitude of this vertical meridian line in decimal degrees. The body culminates (MC) or anti-culminates (IC) along it, so plot it as a straight north to south line."
                    },
                    "interpretation": {
                      "type": "string",
                      "description": "Plain language meaning of this meridian planetary line for relocation, suitable for chart reports and AI agents."
                    }
                  },
                  "required": [
                    "longitude",
                    "interpretation"
                  ],
                  "description": "Midheaven (MC) line. Places along this meridian where the body was culminating overhead, tied to public life, career, and reputation."
                },
                "ic": {
                  "type": "object",
                  "properties": {
                    "longitude": {
                      "type": "number",
                      "example": -71.23,
                      "description": "Constant geographic longitude of this vertical meridian line in decimal degrees. The body culminates (MC) or anti-culminates (IC) along it, so plot it as a straight north to south line."
                    },
                    "interpretation": {
                      "type": "string",
                      "description": "Plain language meaning of this meridian planetary line for relocation, suitable for chart reports and AI agents."
                    }
                  },
                  "required": [
                    "longitude",
                    "interpretation"
                  ],
                  "description": "Imum Coeli (IC) line, opposite the MC. Places where the body was anti-culminating, tied to home, family, and inner foundations."
                },
                "ascendant": {
                  "type": "object",
                  "properties": {
                    "points": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "type": "number",
                            "example": 40,
                            "description": "Geographic latitude of this sampled point in decimal degrees."
                          },
                          "longitude": {
                            "type": "number",
                            "example": -71.42,
                            "description": "Geographic longitude in decimal degrees where the body sits exactly on the horizon at this latitude."
                          }
                        },
                        "required": [
                          "latitude",
                          "longitude"
                        ]
                      },
                      "description": "Sampled geographic points tracing this rising or setting line from 70 South to 70 North. Join them in latitude order to draw the curved planetary line on a world map."
                    },
                    "circumpolarBeyond": {
                      "type": "number",
                      "nullable": true,
                      "example": 66.56,
                      "description": "Absolute latitude in degrees beyond which the body never crosses the horizon, so the line has no points past it. Null when the line spans the full sampled range."
                    },
                    "interpretation": {
                      "type": "string",
                      "description": "Plain language meaning of this rising or setting planetary line for relocation, suitable for chart reports and AI agents."
                    }
                  },
                  "required": [
                    "points",
                    "circumpolarBeyond",
                    "interpretation"
                  ],
                  "description": "Ascendant (rising) line. Places where the body was on the eastern horizon, tied to identity, vitality, and self-expression."
                },
                "descendant": {
                  "type": "object",
                  "properties": {
                    "points": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "latitude": {
                            "type": "number",
                            "example": 40,
                            "description": "Geographic latitude of this sampled point in decimal degrees."
                          },
                          "longitude": {
                            "type": "number",
                            "example": -71.42,
                            "description": "Geographic longitude in decimal degrees where the body sits exactly on the horizon at this latitude."
                          }
                        },
                        "required": [
                          "latitude",
                          "longitude"
                        ]
                      },
                      "description": "Sampled geographic points tracing this rising or setting line from 70 South to 70 North. Join them in latitude order to draw the curved planetary line on a world map."
                    },
                    "circumpolarBeyond": {
                      "type": "number",
                      "nullable": true,
                      "example": 66.56,
                      "description": "Absolute latitude in degrees beyond which the body never crosses the horizon, so the line has no points past it. Null when the line spans the full sampled range."
                    },
                    "interpretation": {
                      "type": "string",
                      "description": "Plain language meaning of this rising or setting planetary line for relocation, suitable for chart reports and AI agents."
                    }
                  },
                  "required": [
                    "points",
                    "circumpolarBeyond",
                    "interpretation"
                  ],
                  "description": "Descendant (setting) line. Places where the body was on the western horizon, tied to relationships and partnerships."
                }
              },
              "required": [
                "planet",
                "rightAscension",
                "declination",
                "mc",
                "ic",
                "ascendant",
                "descendant"
              ]
            },
            "description": "One entry per body, each carrying its Midheaven, Imum Coeli, Ascendant, and Descendant planetary lines for relocation mapping."
          },
          "summary": {
            "type": "string",
            "example": "Astrocartography lines for 1990-07-15. 10 bodies, each with Midheaven, Imum Coeli, Ascendant, and Descendant lines mapping where their themes turn angular worldwide for relocation planning.",
            "description": "Short overview of the astrocartography map for previews and report intros."
          }
        },
        "required": [
          "birthDetails",
          "lines",
          "summary"
        ]
      },
      "RelocationChartResponse": {
        "type": "object",
        "properties": {
          "birthDetails": {
            "type": "object",
            "properties": {
              "date": {
                "type": "string",
                "example": "1961-08-04",
                "description": "Birth date used for this chart (YYYY-MM-DD)."
              },
              "time": {
                "type": "string",
                "example": "19:24:00",
                "description": "Birth time used for this chart (HH:MM:SS, 24-hour)."
              },
              "latitude": {
                "type": "number",
                "example": 21.3069,
                "description": "Birthplace latitude in decimal degrees."
              },
              "longitude": {
                "type": "number",
                "example": -157.8583,
                "description": "Birthplace longitude in decimal degrees."
              },
              "timezone": {
                "type": "number",
                "example": -10,
                "description": "Birth timezone offset from UTC in decimal hours."
              }
            },
            "required": [
              "date",
              "time",
              "latitude",
              "longitude",
              "timezone"
            ],
            "description": "Birthplace details echoed back. The birth instant is unchanged by relocation."
          },
          "relocation": {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "number",
                "example": 40.7167,
                "description": "New location latitude in decimal degrees."
              },
              "longitude": {
                "type": "number",
                "example": -74.006,
                "description": "New location longitude in decimal degrees."
              }
            },
            "required": [
              "latitude",
              "longitude"
            ],
            "description": "New location the chart was recomputed for."
          },
          "planets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RelocationPlanet"
            },
            "description": "All 14 celestial bodies with their unchanged natal signs and degrees, reassigned to the houses they occupy in the relocated chart."
          },
          "houses": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "number": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 12,
                  "example": 1,
                  "description": "House number (1-12). Each house governs specific life themes in Western astrology."
                },
                "longitude": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 360,
                  "example": 45.32,
                  "description": "Ecliptic longitude of this house cusp in degrees (0-360)."
                },
                "sign": {
                  "type": "string",
                  "example": "Taurus",
                  "description": "Zodiac sign on this house cusp. Colors the themes of this life area."
                },
                "degree": {
                  "type": "number",
                  "minimum": 0,
                  "maximum": 30,
                  "example": 15.32,
                  "description": "Degree within the zodiac sign on this cusp (0-29.999)."
                }
              },
              "required": [
                "number",
                "longitude",
                "sign",
                "degree"
              ]
            },
            "description": "All 12 relocated house cusps with zodiac positions for the new location."
          },
          "houseSystem": {
            "type": "string",
            "example": "placidus",
            "description": "House system used for the relocated chart (placidus, whole-sign, equal, or koch). Quadrant systems fall back to whole-sign above the polar circle."
          },
          "ascendant": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Gemini",
                "description": "Tropical zodiac sign on this relocated angle."
              },
              "degree": {
                "type": "number",
                "example": 12.67,
                "description": "Degree within the zodiac sign on this angle (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "example": 72.67,
                "description": "Absolute ecliptic longitude of this angle in degrees (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Relocated Ascendant (rising sign). The eastern horizon at the new place, defining how you come across there."
          },
          "midheaven": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Gemini",
                "description": "Tropical zodiac sign on this relocated angle."
              },
              "degree": {
                "type": "number",
                "example": 12.67,
                "description": "Degree within the zodiac sign on this angle (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "example": 72.67,
                "description": "Absolute ecliptic longitude of this angle in degrees (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Relocated Midheaven (MC). The highest point of the ecliptic at the new place, tied to career and public image there."
          },
          "vertex": {
            "type": "object",
            "properties": {
              "sign": {
                "type": "string",
                "example": "Virgo",
                "description": "Zodiac sign holding the Vertex."
              },
              "degree": {
                "type": "number",
                "minimum": 0,
                "maximum": 30,
                "example": 12.9,
                "description": "Degree within the Vertex sign (0-29.999)."
              },
              "longitude": {
                "type": "number",
                "minimum": 0,
                "maximum": 360,
                "example": 162.9,
                "description": "Absolute ecliptic longitude of the Vertex (0-360)."
              }
            },
            "required": [
              "sign",
              "degree",
              "longitude"
            ],
            "description": "Relocated Vertex. The western prime-vertical and ecliptic intersection at the new place, read as a point of fated encounters."
          },
          "changes": {
            "type": "object",
            "properties": {
              "ascendantSignChanged": {
                "type": "boolean",
                "example": true,
                "description": "Whether the Ascendant sign differs between the birthplace chart and the relocated chart."
              },
              "planetsChangedHouse": {
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "planet": {
                      "type": "string",
                      "example": "Sun",
                      "description": "Body that occupies a different house after relocation."
                    },
                    "natalHouse": {
                      "type": "number",
                      "example": 5,
                      "description": "House this body occupied in the birthplace chart (1-12)."
                    },
                    "relocatedHouse": {
                      "type": "number",
                      "example": 3,
                      "description": "House this body occupies in the relocated chart (1-12)."
                    }
                  },
                  "required": [
                    "planet",
                    "natalHouse",
                    "relocatedHouse"
                  ]
                },
                "description": "Bodies whose house placement shifts from the birthplace chart to the relocated chart. Empty when nothing changes house."
              },
              "angularPlanets": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "example": [
                  "Venus"
                ],
[...]
